@import "variable";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: $Very-Dark-Blue-Text;
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__container {
  padding: 0 2rem;
}

/* Typography*/

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  margin: 2rem 0;
}

h4 {
  font-weight: 400;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

h5 {
  font-size: 3rem;
}

.header {
  background-color: $Light-Grayish-Blue-Card-BG;

  &__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
}

/* MAIN SECTION */

.article {
  background-color: $Light-Grayish-Blue-Card-BG;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: $Light-Grayish-Blue-Card-BG-Hover;
  }
}
.facebook {
  border-top: solid #178ff5 0.4rem;
}

.twitter {
  border-top: solid #1da1f2 0.4rem;
}

.instagram {
  border-top: solid 0.4rem linear-gradient(to left, #df4896, #ee877e, #fdc366);
}

.youtube {
  border-top: solid #c4032b 0.4rem;
}

svg {
  margin-right: 1rem;
}

.social__container,
.social__results {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__results {
  p {
    color: $Lime-Green;
  }
}

.followers__container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Overview  */
.overview {
  background-color: $Light-Grayish-Blue-Card-BG;
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.5rem;

  svg {
    margin: 0;
  }

  &__results {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 110px;
  }

  &__info {
    display: flex;
    align-items: center;
    color: $Lime-Green;

    p {
      margin-left: 1rem;
    }
  }

  &__status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 110px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
